header {
    text-align: center;
    background-color: rgb(206, 12, 12);
    padding: 30px;
}
h1 {
    font-size: 30px;
    font-weight: bold;

}
main {
    background-color: rgb(0, 0, 0);
    text-align: center;
    padding: 30px;
    margin: 0 auto;
}
h2 {
    padding-bottom: 20px;
    font-size: 20px;
    font-weight: bold;
}
a{
    text-decoration: none;
    text-transform: uppercase;
    color: black;
}
li {
    padding: 10px;
    margin: 10px auto;
    background-color: rgb(207, 10, 10);
    width: 30%;
    border-radius: 10px;
    color: black;
}
li:hover {
    width: 33%;
    background-color: rgb(0, 81, 255);
}
footer {
    background-color: rgb(206, 28, 28);
    text-align: center;
    padding: 20px 0 30px 0;
}
footer img {
    width: 100px;
}
